html,
body,
#root {
  height: 100%;
}
body {
  /* font-family: sans-serif; */
  margin: 0;
  padding: 0;
  min-height: 100%;  
}

div::-webkit-scrollbar {
  /* width: 1em; */
  background-color:#394a5e;
}
div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar-thumb {
  background-color: darkorange;
  outline: 1px solid slategrey;
}

#root {
  background-color: darkgray;
  padding: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
}

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  /* background-color: #394a5e; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}